body {
  font-family: $font;
  font-size: 12;
  margin: 0;
  background-color: $background;
}

.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  padding: 0.5em;
  z-index: 999;
  align-items: center;
  flex-direction: column;
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 0.5em;

    .nav-logo {
      margin-right: auto;
      margin-left: 1em;
      img {
        width: 3em;
      }
    }

    .nav-toggle {
      outline: none;
      border: none;
      align-items: center;
      background: transparent;
      cursor: pointer;
      margin-left: auto;
      margin-right: 2em;
      svg {
        color: black;
        fill: currentColor;
        width: 3em;
      }
    }
  }

  .nav-group {
    left: 0;
    width: 100%;
    background: $nav-color;
    // display: block;
    list-style: none;
    .nav-item {
      padding: 1em;

      .nav-link {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.home {
  .logo-artec {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    @media #{$medium-and-up} {
      height: 20em;
    }
  }

  p {
    text-align: justify;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.servicos {
}

.localizao {
  .map {
    height: 50vh;
    width: 100%;
  }
}

.contato {
  .form-group {
    .form-input {
      border: 1px solid $form-input-border;
      border-radius: 1em;
      padding: 1em 2em;
      margin: 1em 1em;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
      width: 100%;
      margin-top: 1em;
      display: block;
      outline: none;
      border: none;
      background: transparent;
      font-size: 1em;
    }

    select {
      margin-left: -7px;
    }

    textarea {
      background: white;
      resize: vertical;
    }
  }
}

@media #{$medium-and-up} {
  .navbar {
    background-color: transparent;
    flex-direction: row;

    .nav-logo {
      width: 50px;
      margin-left: 3em;
      margin-right: auto;
    }

    .nav-toggle {
      display: none;
    }

    .nav-group {
      top: 0;
      position: relative;
      width: auto;
      background: transparent;
      display: flex;
      flex-direction: column;
      flex-direction: row;
      margin-right: 3em;
      margin-left: auto;

      .nav-item {
        padding: 0.3em 0.8em;

        .nav-link {
          color: black;
          text-decoration: none;
        }
      }
    }
  }

  .home {
    article {
      .logo-artec {
        width: 20em;
      }
    }
  }

  .servicos {
    article {
      .card-group {
        .card {
          width: 22%;
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .home {
    article {
      .logo-artec {
        width: 25em;
      }
    }
  }
}
