.full-height {
  min-height: 100vh;
}

.row {
  margin-left: auto;
  margin-right: auto;

  .col {
    float: left;
    box-sizing: border-box;
    min-height: 1px;

    &.s {
      @include col();
    }
    &.m {
      @include col($medium-and-up);
    }
    &.l {
      @include col($large-and-up);
    }
    &.xl {
      @include col($extra-large-and-up);
    }
  }
}

.padding {
  &-s {
    @include padding();
  }
  &-m {
    @media #{$medium-and-up} {
      @include padding();
    }
  }
  &-l {
    @media #{$large-and-up} {
      @include padding();
    }
  }
  &-xl {
    @media #{$extra-large-and-up} {
      @include padding();
    }
  }

  &-top {
    &-s {
      @include padding("-top");
    }
    &-m {
      @include padding("-top", $medium-and-up);
    }
    &-l {
      @include padding("-top", $large-and-up);
    }
    &-xl {
      @include padding("-top", $extra-large-and-up);
    }
  }

  &-bottom {
    &-s {
      @include padding("-bottom");
    }
    &-m {
      @include padding("-bottom", $medium-and-up);
    }
    &-l {
      @include padding("-bottom", $large-and-up);
    }
    &-xl {
      @include padding("-bottom", $extra-large-and-up);
    }
  }

  &-left {
    &-s {
      @include padding("-left");
    }
    &-m {
      @include padding("-left", $medium-and-up);
    }
    &-l {
      @include padding("-left", $large-and-up);
    }
    &-xl {
      @include padding("-left", $extra-large-and-up);
    }
  }

  &-right {
    &-s {
      @include padding("-right");
    }
    &-m {
      @include padding("-right", $medium-and-up);
    }
    &-l {
      @include padding("-right", $large-and-up);
    }
    &-xl {
      @include padding("-right", $extra-large-and-up);
    }
  }
}

.align {
  &-all {
    &-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-vertical {
    &-center {
      display: flex;
      align-items: center;
    }
  }

  &-text {
    &-center {
      text-align: center;
    }
    &-justify {
      text-align: justify;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  @media #{$medium-and-up} {
    .container {
      width: 85%;
    }
  }
  @media #{$large-and-up} {
    .container {
      width: 70%;
    }
  }
}

.title {
  font-size: 3.5em;
}

.card-group {
  flex-wrap: wrap;
  align-items: stretch;

  .card {
    margin: 0 2em;
    padding: 1em;
    box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.1);

    img {
      width: 10em;
    }

    h3 {
      font-weight: normal;
      letter-spacing: 0.09em;
    }

    p {
      text-align: justify;
    }
  }
}

.btn-red {
  outline: none;
  background-color: #d62525;
  color: white;
  text-decoration: none;
  border: 1px solid #d62525;
  border-radius: 3px 20px 3px 20px;
  padding: 0.6em 1.5em;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.1);
}

.hidden{
  display: none;
}
