body {
  font-family: "Arial";
  font-size: 12;
  margin: 0;
  background-color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  padding: 0.5em;
}

.navbar .nav-logo {
  margin-right: auto;
  margin-left: 1em;
}

.navbar .nav-logo img {
  width: 3em;
}

.navbar .nav-toggle {
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  cursor: pointer;
  margin-left: auto;
  margin-right: 2em;
}

.navbar .nav-toggle svg {
  color: black;
  fill: currentColor;
  width: 3em;
}

.navbar .nav-group {
  top: 2.8em;
  left: 0;
  width: 100%;
  background: #3e82ff;
  display: none;
  position: absolute;
  list-style: none;
}

.navbar .nav-group .nav-item {
  padding: 0.5em;
}

.navbar .nav-group .nav-item .nav-link {
  color: white;
  text-decoration: none;
}

section {
  height: 100vh;
}

article {
  display: block;
  text-align: center;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
}

.home article {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 13;
}

.home article .logo-artec {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 12em;
}

.home article p {
  text-align: justify;
  margin-top: 3em;
  margin-bottom: 3em;
}

.home article .btn-red {
  background-color: #D62525;
  color: white;
  text-decoration: none;
  border: 1px solid #D62525;
  border-radius: 3px 20px 3px 20px;
  padding: 0.6em 1.5em;
  -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.1);
}

.servicos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
}

.servicos article {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 12;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 12;
}

.servicos article .title {
  font-size: 3.5em;
}

.servicos article .card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.servicos article .card-group .card {
  margin: 0 2em;
  padding: 1em;
  -webkit-box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.servicos article .card-group .card img {
  width: 10em;
}

.servicos article .card-group .card h3 {
  font-weight: normal;
  letter-spacing: 0.09em;
}

.servicos article .card-group .card p {
  text-align: justify;
}

@media screen and (min-width: 720px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
  }
  .navbar .nav-logo {
    width: 50px;
    margin-left: 3em;
    margin-right: auto;
  }
  .navbar .nav-toggle {
    display: none;
  }
  .navbar .nav-group {
    top: 0;
    position: relative;
    width: auto;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: row;
    margin-right: 3em;
    margin-left: auto;
  }
  .navbar .nav-group .nav-item {
    padding: 0.3em 0.8em;
  }
  .navbar .nav-group .nav-item .nav-link {
    color: black;
    text-decoration: none;
  }
  .home article {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 11;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 11;
  }
  .home article .logo-artec {
    width: 20em;
  }
  .servicos article {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .servicos article .card-group .card {
    width: 22%;
  }
}

@media screen and (min-width: 1024px) {
  .home article .logo-artec {
    width: 25em;
  }
}
/*# sourceMappingURL=style.css.map */